.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table__head {
  color: var(--text-color-blue);
}

.table__header-row {
  background-color: var(--bg-color-light-grey);
}

.table__row:nth-child(odd) {
  background-color: var(--bg-color-grey);
}

.table__cell {
  padding: 1% 0;
}

.table__cell--highlight {
  color: red;
}

.table__discount {
  color: var(--text-color-green);
  background-color: var(--bg-color-light-grey);
}

.table__price {
  font-weight: bold;
}
